:root {
    --boxmarginmedium: 3rem;
    --boxmarginsmall: 0.8rem;
    --boxpaddingmedium: 2rem;
    --boxpaddingsmall: 0.8rem;
    --boxpaddingxsmall: 0.5rem;

    --border-width: 0.2rem;

    --health-bar-height:calc(var(--boxpaddingmedium)/2);

    --text-color: #001;
    --primary-color: #001;
    --mid-grey: #ddd;
    --type-grey: #666;
    --background-color: #fff;

    --mid-red: darkred;
    --lose-red: #d00;
    --win-green: green;

    --xsmall-text: 0.8rem;
    --small-text: 1.3rem;
    --medium-text: 1.7rem;
    --large-text: 3rem;
    --classic-border-radius: 0.4rem;

    box-sizing: border-box;

    font-family: var(--font-body);
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  *{
    outline: none !important;
  }